.hamburguer {
    display: none;
  }
  
  .menu {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    background: #68ac92;
    display: flex;
    align-items:center;
    justify-content: right;
  }
  
  .item {
    float: left;
  }
  
  .item .link {
    font-size: 1.3em;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #0b0b0c;
  }
  
  @media(max-width: 765px) {
    .hamburguer {
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .item .link {
      display: none;
    }
  
    .hamburguerOpen {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      list-style-type: none;
    }
  
    .itemOpen .linkOpen {
      font-size: 1.3em;
      font-weight: 600;
      display: block;
      text-align:start;
      padding: 14px 16px;
      text-decoration: none;
      color: #68ac92;
    }
  }